In [189]:
import pandas as pd
import os

In [190]:
df_papas = pd.read_csv("potato_story/RH010222.csv")
df_papas.head()

,ESP,VAR,PROC,ENV,KG,CAL,TAM,GRADO,MA010222,MO010222,MI010222,MAPK,MOPK,MIPK
0,ACELGA,NaN,BS. AS.,JA,10,1A,NaN,INV,950,820.00,750,95.0,82.00,75.0
1,ACELGA,NaN,BS. AS.,JA,10,1A,SIN TAM,NaN,750,685.00,600,75.0,68.50,60.0
2,ACELGA,NaN,BS. AS.,JA,10,2A,SIN TAM,NaN,700,620.00,580,70.0,62.00,58.0
3,ACELGA,Prom.Esp.,NaN,NaN,0,NaN,NaN,NaN,0,708.33,0,0.0,70.83,0.0
4,ACUSAY,NaN,BS. AS.,JA,10,1A,GRANDE,NaN,600,512.00,480,60.0,51.20,48.0

In [191]:
month_dic = {
    1: 'Enero',
    2: 'Febrero',
    3: 'Marzo',
    4: 'Abril',
    5: 'Mayo',
    6: 'Junio',
    7: 'Julio',
    8: 'Agosto',
    9: 'Septiembre',
    10: 'Octubre',
    11: 'Noviembre',
    12: 'Diciembre'
}

In [192]:
df_productos = pd.DataFrame()

for dir in os.listdir("potato_story"):
    dir_csv = "potato_story/" + dir
    df_hortalizas_mes = pd.read_csv(dir_csv)

    df_papa_mes = df_hortalizas_mes[df_hortalizas_mes["ESP"] == "PAPA"]
    df_batata_mes = df_hortalizas_mes[df_hortalizas_mes["ESP"] == "BATATA"]

    day = dir[2:4]
    month = dir[4:6]
    year = dir[6:8]

    date_time_str = f'20{year}-{month}-{day} 00:00:00'
    date_time_obj = datetime.datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S')

    df_papa_parsed = df_papa_mes[["ESP", "MOPK", "PROC"]]
    df_papa_parsed["PERIODO"] = date_time_obj

    df_batata_parsed = df_batata_mes[["ESP", "MOPK", "PROC"]]
    df_batata_parsed["PERIODO"] = date_time_obj

    df_productos = pd.concat([df_productos, df_papa_parsed, df_batata_parsed])

df_productos

/tmp/ipykernel_21481/1556349311.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_papa_parsed["PERIODO"] = date_time_obj
/tmp/ipykernel_21481/1556349311.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_batata_parsed["PERIODO"] = date_time_obj
/tmp/ipykernel_21481/1556349311.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_papa_parsed["PERIODO"] = date_time_obj
/tmp/ipykernel_21481/1556349311.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_batata_parsed["PERIODO"] = date_time_obj
/tmp/ipykernel_21481/1556349311.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_papa_parsed["PERIODO"] = date_time_obj
/tmp/ipykernel_21481/1556349311.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_batata_parsed["PERIODO"] = date_time_obj
/tmp/ipykernel_21481/1556349311.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_papa_parsed["PERIODO"] = date_time_obj
/tmp/ipykernel_21481/1556349311.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_batata_parsed["PERIODO"] = date_time_obj
/tmp/ipykernel_21481/1556349311.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_papa_parsed["PERIODO"] = date_time_obj
/tmp/ipykernel_21481/1556349311.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_batata_parsed["PERIODO"] = date_time_obj
/tmp/ipykernel_21481/1556349311.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_papa_parsed["PERIODO"] = date_time_obj
/tmp/ipykernel_21481/1556349311.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_batata_parsed["PERIODO"] = date_time_obj
/tmp/ipykernel_21481/1556349311.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_papa_parsed["PERIODO"] = date_time_obj
/tmp/ipykernel_21481/1556349311.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_batata_parsed["PERIODO"] = date_time_obj
/tmp/ipykernel_21481/1556349311.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_papa_parsed["PERIODO"] = date_time_obj
/tmp/ipykernel_21481/1556349311.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_batata_parsed["PERIODO"] = date_time_obj
/tmp/ipykernel_21481/1556349311.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_papa_parsed["PERIODO"] = date_time_obj
/tmp/ipykernel_21481/1556349311.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_batata_parsed["PERIODO"] = date_time_obj
/tmp/ipykernel_21481/1556349311.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_papa_parsed["PERIODO"] = date_time_obj
/tmp/ipykernel_21481/1556349311.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_batata_parsed["PERIODO"] = date_time_obj
/tmp/ipykernel_21481/1556349311.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_papa_parsed["PERIODO"] = date_time_obj
/tmp/ipykernel_21481/1556349311.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_batata_parsed["PERIODO"] = date_time_obj

        ESP    MOPK      PROC    PERIODO
80     PAPA   19.15  GRL.BELG 2022-03-01
81     PAPA   22.20  SE BS.AS 2022-03-01
82     PAPA   25.50  SE BS.AS 2022-03-01
83     PAPA   34.50  SE BS.AS 2022-03-01
84     PAPA   25.34       NaN 2022-03-01
..      ...     ...       ...        ...
105    PAPA   56.63       NaN 2022-08-01
24   BATATA  107.50    BRASIL 2022-08-01
25   BATATA   98.00   CORDOBA 2022-08-01
26   BATATA  100.00  SANTA FE 2022-08-01
27   BATATA  101.83       NaN 2022-08-01

[100 rows x 4 columns]

In [193]:
df_productos.isnull().mean()

ESP        0.00
MOPK       0.00
PROC       0.22
PERIODO    0.00
dtype: float64

In [209]:
df_productos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 80 to 27
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nombre     100 non-null    object
 1   precio     100 non-null    float64
 2   provincia  100 non-null    object
 3   periodo    100 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 3.9+ KB

In [194]:
columns_rename = {
    "ESP": "nombre",
    "MOPK": "precio",
    "PROC": "provincia",
    "PERIODO": "periodo"
}

In [195]:
df_productos = df_productos.rename(columns=columns_rename)
df_productos

     nombre  precio provincia    periodo
80     PAPA   19.15  GRL.BELG 2022-03-01
81     PAPA   22.20  SE BS.AS 2022-03-01
82     PAPA   25.50  SE BS.AS 2022-03-01
83     PAPA   34.50  SE BS.AS 2022-03-01
84     PAPA   25.34       NaN 2022-03-01
..      ...     ...       ...        ...
105    PAPA   56.63       NaN 2022-08-01
24   BATATA  107.50    BRASIL 2022-08-01
25   BATATA   98.00   CORDOBA 2022-08-01
26   BATATA  100.00  SANTA FE 2022-08-01
27   BATATA  101.83       NaN 2022-08-01

[100 rows x 4 columns]

In [196]:
df_productos["periodo"].unique()

array(['2022-03-01T00:00:00.000000000', '2022-06-01T00:00:00.000000000',
       '2022-11-01T00:00:00.000000000', '2022-09-01T00:00:00.000000000',
       '2022-02-01T00:00:00.000000000', '2022-05-02T00:00:00.000000000',
       '2022-10-03T00:00:00.000000000', '2022-07-01T00:00:00.000000000',
       '2022-01-04T00:00:00.000000000', '2022-04-01T00:00:00.000000000',
       '2022-08-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [197]:
df_productos = df_productos.fillna("SE BS.AS")

In [198]:
df_productos.isnull().mean()

nombre       0.0
precio       0.0
provincia    0.0
periodo      0.0
dtype: float64

In [199]:
df_productos["provincia"].unique()

array(['GRL.BELG', 'SE BS.AS', 'S. PEDRO', 'CORDOBA', 'SAN LUIS', 'JUJUY',
       'TUCUMAN', 'V.DOLOR.', 'BRASIL', 'FORMOSA', 'SANTA FE', 'R. NEGRO',
       'MENDOZA'], dtype=object)

In [202]:
import datetime

dir = os.listdir("potato_story")[0]
day = dir[2:4]
month = dir[4:6]
year = dir[6:8]

date_time_str = f'20{year}-{month}-{day} 00:00:00'
date_time_obj = datetime.datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S')
date_time_obj

datetime.datetime(2022, 3, 1, 0, 0)

In [203]:
df_productos.isnull().mean()

nombre       0.0
precio       0.0
provincia    0.0
periodo      0.0
dtype: float64

In [204]:
df_productos.shape

(100, 4)

In [205]:
df_productos[df_productos['periodo'] == "01"]

Empty DataFrame
Columns: [nombre, precio, provincia, periodo]
Index: []

In [206]:
for dir in os.listdir("potato_story"):
    print(dir[2:4]) # Dia
    print(dir[4:6]) # Mes
    print(dir[6:8]) # Año

01
03
22
01
06
22
01
11
22
01
09
22
01
02
22
02
05
22
03
10
22
01
07
22
04
01
22
01
04
22
01
08
22

In [207]:
os.listdir("potato_story")

['RH010322.csv',
 'RH010622.csv',
 'RH011122.csv',
 'RH010922.csv',
 'RH010222.csv',
 'RH020522.csv',
 'RH031022.csv',
 'RH010722.csv',
 'RH040122.csv',
 'RH010422.csv',
 'RH010822.csv']

In [208]:
df_productos.to_csv("productos_central.csv", index=False)